<div class="card mt-4 shadow-sm border-0 rounded-3">
 <div class="card-body">
   <div class="d-flex justify-content-between align-items-center mb-3">
     <h5 class="card-title fw-bold mb-0">Edit TEXT File</h5>
     <button class="btn btn-outline-secondary" (click)="goback()">🔙 Back</button>
   </div>

   <p><strong>Path:</strong> {{ dir }}</p>

   <textarea [(ngModel)]="selectedFileContent" class="form-control" rows="8"></textarea>

   <div class="text-center mt-3">
     <button class="btn btn-success" (click)="saveTextFile()">💾 Save</button>
   </div>
 </div>
</div>
